
.widgets-wizard .tl_modulewizard {
    max-width: 100%;
}

.widgets-wizard .multicolumnwizard .tl_select {
    width: 100%;
}

.widgets-wizard table {
    table-layout:fixed
}

.widgets-wizard .tl_modulewizard td:first-child,
.widgets-wizard td {
    width: 28%;
}

.widgets-wizard .tl_modulewizard td:last-child {
    width: 16%;
}

@media (max-width: 767px) {
    .widgets-wizard .tl_modulewizard td:first-child .tl_select {
        max-width: 100%;
    }

    .widgets-wizard .tl_modulewizard td {
        display: block;
        width: 100% !important;
    }
}
